body{
    height: 100vh;
    margin: 0;
    background-color: black;
}

@font-face { font-family: Alagard; src: url('alagard\ 2.ttf'); }

hr{
    margin: 15px;
    line-height: 5px;
 }

 .firstsection{
  /*background-image: url(shootingdef/DSC00976.jpg);*/
   background-repeat: no-repeat;
   background-size:cover;
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: center;
}

.icywalk{
  width: 10vw;
}

.icywalkflex{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icytalk{
  color: white;
  font-size: 2vw;
  font-family: 'Alagard';
  display: flex;
  align-items: center;
}

.navbar{
 background-color: black;
 width: 100vw;
 display: flex;
 position: sticky;
 top: 0;
 z-index: 5;
 justify-content: center;
}

.navbar h1{
   font-family: 'Jost';
   font-style: italic;
   font-weight: 700;
   font-size: 47px;
   line-height: 114px;
   margin-left: 16px;
   cursor: pointer;

   background: linear-gradient(180deg, #00FF7F 0%, #35E1AE 50%, #87CEEB 96.35%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.navbar-title{
   display: flex;
   justify-content: center;
   margin: 8px;
}

.indexflex{
  display:flex;
  justify-content:center;
}

.spin{
 max-width: 7%;
 display: flex;
 min-width: 9%;
}

.slogan {
  display: flex;
  justify-content: center;
  font-family: 'Alagard';
  font-style: normal;
  font-weight: 800;
  font-size: 2vw;
  background: white;
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  margin: 4%;
}

.form{
    display:flex;
    justify-content: center;
    /*background-color:rgba(255, 255, 255, 0.25);*/
    border-radius: 15px;
}

.formflex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-style{
    border-radius: 15px;
    padding: 3vh;
    font-size: 2vh;
    font-family: 'Orkney';
    margin: 3vh;
   /* background-color: rgba(255, 255, 255, 0.25);*/
}

.size{
    font-size: 2rem;
    display: flex;
    height: 2vh;
    padding: 18px;
    border-style: black;
    /* background: linear-gradient(180deg, #87CEEB 0%, #00FF7F 100%); */
    border-radius: 8px;
    width: inherit;
    color: black;
    font-family: 'Jost';
    font-style: italic;
    justify-content: center;
    margin-bottom: 2vh;
}

.shirtscss{

  display: flex;
  /*height: 3vh;*/
  padding: 18px;
  border-style: black;
  background: white;
  border-radius: 8px;
  width: 100%;
  color: black;
  font-family: 'Alagard';
  font-style: italic;
  justify-content: center;
  margin-bottom: 2vh;
}

  .button{
    background: black;
    border-radius: 15px;
    font-weight: 800;
    border-color: white;
    border-style: solid 2px;
    text-align: center;
    padding: 2vh;
    width: inherit;
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
    font-family: 'Alagard';
}

.buttonflex{
  display: flex;
  justify-content: center;
}

.button:active{
  background: white;
  color: black;
}
